.auth {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: 20px;
}

.auth-card {
  margin: 0 auto;
  width: 450px;
}

.auth-card form {
  margin-top: 20px;
}
